{%extends 'base.html'%}
{% block title %}About me..{% endblock%}
{% block content %}

<div class="container">
  <div class="About-us" id="abouuuut">
  <div class="about-head"><h2><b>< ABOUT US/ ></h2></b></div>

  <br/>
  <div class="about-second"><b> Who  are  we? </b></div>
  <br/>
  <div class="About-Text"><b>Online Cricket Scores</b>  is an online directory based webite that keep helping the players and
     freiends to access the score from anywhere.
  It is created with an intention to  view team, scorecards articles and live coverage of cricket matches
  We would be helping you in making everything easy that you like

  </div>
  <br/>

  ---<em>December,2020</em>---
  </div>
  <br/>
  <a href="https://sanskar1812.github.io/Intro/"><button type="button" class="btn btn-danger">Know-more</button></a>

  <hr>
</div>
{% endblock %}
