{%extends 'base.html'%}
{% block title %}Sanskar Cricket..{% endblock%}
{% block content %}

        <div class="container">

            <br/>
            <div class="container">
            <span class="border"><img src="static/images/o2.jpg" width="150" height="150"> <b>V/S </b></span>
            <span class="border-top"><img src="static/images/o1.jpg" width="150" height="150"></span>
            </div>
          <hr>
        <div class="shadow-lg p-3 mb-5 bg-white rounded"><h1 class="display-6"><b>  <em>Team Aakash</em></b></h1></div>
          <table class="table table-dark table-hover">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Team</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Aakash</td>
                  <td>Yadav</td>
                  <td>@AakashBlue</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Shivendra</td>
                  <td>Singh</td>
                  <td>@AakashBlue</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Sachin</td>
                  <td>Raj</td>
                  <td>@AakashBlue</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Satyam</td>
                  <td>Rai</td>
                  <td>@AakashBlue</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Akash</td>
                  <td>Singh</td>
                  <td>@AakashBlue</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Sanskar</td>
                  <td>Dwivedi</td>
                  <td>@AakashBlue</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>Srijan</td>
                  <td>Srivastava</td>
                  <td>@AakashBlue</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>Prawal</td>
                  <td>Srivastava</td>
                  <td>@AakashBlue</td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>Alkesh</td>
                  <td>Srivastava</td>
                  <td>@AakashBlue</td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>Shobhansh/Gaurvansh</td>
                  <td>Singh</td>
                  <td>@AakashBlue</td>
                </tr>
                <tr>
                  <th scope="row">11</th>
                  <td>Adarsh</td>
                  <td>Singh</td>
                  <td>@AakashBlue</td>
                </tr>

              </table>
  <div class="shadow-lg p-3 mb-5 bg-white rounded"><h1 class="display-6"><b>  <em>Team Aman</em></b></h1></div>
  <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Team</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Aman</td>
          <td>Yadav</td>
          <td>@AmanGreen</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Chirag</td>
          <td></td>
          <td>@AmanGreen</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Eshan</td>
          <td></td>
          <td>@AmanGreen</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Sharad</td>
          <td></td>
          <td>@AmanGreen</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Sanjay</td>
          <td></td>
          <td>@AmanGreen</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Tushar</td>
          <td></td>
          <td>@AmanGreen</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Shivang</td>
          <td></td>
          <td>@AmanGreen</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Devansh</td>
          <td></td>
          <td>@AmanGreen</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Ajay</td>
          <td></td>
          <td>@AmanGreen</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Rachit</td>
          <td></td>
          <td>@AmanGreen</td>
        </tr>
</table>

        </div>

{% endblock %}
